<title>Summit Detailing</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#ebdf3d">
<meta name="description" content="Summit Detailing, the #1 Mobile Auto Detailing service in San Diego!">
<meta name="keywords" content="auto detailing, car wash, cleaning">
<meta name="author" content="Kevin Do">
<meta name="language" content="en">

<link rel="stylesheet" type="text/css" href="/css/styles.css">
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
<link rel="manifest" href="/images/favicon/site.webmanifest">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Birthstone&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;300;400;600;700&display=swap" rel="stylesheet">

<script>
    let theme = localStorage.getItem('theme');
    // console.log(theme);
    if (theme === 'dark') {
        document.documentElement.classList.add('dark');
    }
</script>