<!DOCTYPE html>
<html lang="en">
<head>
    {% include "basehead.html" %}

    {% block head %}{% endblock %}

</head>
<body>
    <header>
        <div style="display: flex;align-items: center; gap: 1rem;">
            <a id="navLogo" aria-label="go to home screen" href="/"><img id="navLogoImg" src="/.netlify/images?url=/images/logo.png&h=30&q=80" height="30" alt="Summit Detailing logo" draggable="false"></a>
            <h1>SUMMIT DETAILING</h1>
        </div>
        <nav id="navMenu">
            <ul id="navList">
                <li>
                    <a href="/">HOME</a> <!-- set links to active with javascript -->
                </li>
                <li>
                    <a href="/about">ABOUT</a>
                </li>
                <li>
                    <a href="/contact">CONTACT</a>
                </li>
                <li>
                    <a href="/services">SERVICES</a>
                </li>
                <li>
                    <button class="themeToggle">
                        🌚
                    </button>
                </li>
            </ul>    
        </nav>
        <button id="hamburger">
            ☰
        </button>
        <noscript>Turn your Javascript on!</noscript>
    </header>
    <nav id="hamburgerNavMenu" style="display: none;">
        <ul id="hamburgerNavList">
            <li>
                <a href="/">HOME</a>
            </li>
            <li>
                <a href="/about">ABOUT</a>
            </li>
            <li>
                <a href="/contact">CONTACT</a>
            </li>
            <li>
                <a href="/services">SERVICES</a>
            </li>
            <li>
                <button class="themeToggle">
                    🌚
                </button>
            </li>
        </ul>    
    </nav>
    

    {{ content | safe }}
    
    <footer>
        <p>&copy; 2025 Summit Detailing</p>
    </footer>
    <freaky-message></freaky-message>

    <script>
        document.getElementById("hamburger").addEventListener("click", function() {
            let menu = document.getElementById("hamburgerNavMenu");
            menu.style.display = menu.style.display === "block" ? "none" : "block";
            themeToggles.forEach(themeToggler => {
                themeToggler.textContent = theme === 'light' ? '🌚' : '🌞';
            });
        });

        window.addEventListener("resize", function() {
            if (window.innerWidth > 855) {
                document.getElementById("hamburgerNavMenu").style.display = "none";
            }
        });
    </script>

    <script>
        class FreakyMessage extends HTMLElement {
            constructor() {
                super();
                console.log("What's good fellow Freak! Can somebody match my freak? 🤪");
            }
        }
        customElements.define("freaky-message", FreakyMessage);
    </script>

    <script>
        const themeToggles = document.querySelectorAll(".themeToggle");
        // console.log(themeToggles);
        
        document.addEventListener("DOMContentLoaded", (event) => {

            let url = window.location.pathname;
            // console.log(url);
            let navLinks = document.querySelectorAll("#navList a, #hamburgerNavList a");
            navLinks.forEach(link => {
                if (url.includes(link.getAttribute('href'))) {
                    link.classList.add('active');
                }
                if (url != "/" && link.getAttribute('href') === '/') {
                    link.classList.remove('active');
                }
            });

            // document.getElementById("hamburgerNavMenu").style.display = "none";
            themeToggles.forEach(themeToggler => {
                themeToggler.textContent = theme === 'light' ? '🌚' : '🌞';
            });
            
        });
        themeToggles.forEach(themeToggler => {
            themeToggler.addEventListener("click", function() {
                if (theme === 'light') {
                    document.documentElement.classList.add('dark');
                    localStorage.setItem('theme', 'dark');
                    themeToggler.textContent = '🌞';
                    theme = 'dark';
                    document.getElementById("navLogoImg").src = "/.netlify/images?url=/images/dark-logo.png&h=30&q=80";
                    document.getElementById("bannerImg").src = "/.netlify/images?url=/images/dark-logo-banner.png&h=400&q=85";
                } else {
                    document.documentElement.classList.remove('dark');
                    localStorage.setItem('theme', 'light');
                    themeToggler.textContent = '🌚';
                    theme = 'light';
                    document.getElementById("navLogoImg").src = "/.netlify/images?url=/images/logo.png&h=30&q=80";
                    document.getElementById("bannerImg").src = "/.netlify/images?url=/images/logo-banner.png&h=400&q=85";
                }
            });
        });

    </script>

    <script>
        document.querySelectorAll('#navList li a, #hamburgerNavList li a').forEach(link => {
            link.addEventListener('click', (e) => {
                e.preventDefault();
                document.getElementById("hamburgerNavMenu").style.display = "none";
                document.body.querySelector('main').classList.add('fadeOut');
                document.body.querySelector('footer').classList.add('fadeOut');
                setTimeout(() => {
                    window.location.href = link.href;
                }, 300);
            });
        });
    </script>
</body>

</html>