form[method="post"] {
    background-color: var(--alternate-background-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    margin: 1rem;
}

input, select {
    padding: 0.5em;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    margin-bottom: 0.5em;
    background-color: var(--alt-row-color);
    color: var(--main-text-color);
}

input:focus {
    border-bottom: 2px solid var(--secondary-color, #00C0E9);
}

input[type="submit"] {
    background-color: var(--primary-color, #00C0E9);
    color: white;
    border: none;
    padding: 0.5em;
    font-size: 1.2em;
    cursor: pointer;
    font-weight: bold;
}

textarea {
    padding: 0.5em;
    outline: none;
    resize: vertical;
    min-height: 5em;
    margin-bottom: 0.5em;
    background-color: var(--alt-row-color);
    color: var(--main-text-color);
    
}

textarea::placeholder {
    color: var(--main-text-color);
}

input:user-invalid {
    border-bottom: 2px solid red;
}

input:valid {
    border-bottom: 2px solid black;
}

label:has(+ input[required])::after {
    content: " *";
    color: red;
}

.errorMessage {
    color: red;
    font-size: 0.8em;
}

.infoMessage {
    font-size: 0.8em;
    font-style: italic;
    color: var(--main-text-color);
}