html.dark #bannerImg {
    content: url("/.netlify/images?url=/images/dark-logo-banner.png&h=400&q=85");
}

services-carousel {
    overflow: auto;
    white-space: nowrap;
    display: flex;
    gap: 1rem;
    background-color: var(--alternate-background-color, rgb(240, 240, 240));
    padding: 1rem 2rem;
}

/* using nested */
services-carousel > services-card {
    background-color: var(--background-color, #fff);
    max-width: 400px;
    padding: 1rem;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;

    & div:has(> h3) {
        padding: 0;
        text-wrap: wrap;
        word-wrap: break-word;
        align-items: normal;
    }

    & img {
        width: 100%;
        height: 300px;
        display: inline-block;
        object-fit: cover;
        transition: transform ease-in-out 0.2s;
    }

    & img:active {
        transform: scale(1.1);
    }
}
    /* using scope */
    @scope (blockquote) {
            p {
                background-color: var(--alternate-background-color, rgb(240, 240, 240));
                padding: 1rem;
            }
        }