:root {
    --background-color: #fff;
    --alternate-background-color: rgb(240, 240, 240);
    --primary-color: #00C0E9;
    --secondary-color: #FF6F61;
    --main-text-color: #000;
    --alt-text-color: #bfbfbf;
    --alt-row-color: rgb(219, 219, 219);
  }