:root {
    --background-color: #fff;
    --alternate-background-color: rgb(203, 229, 235);
    --primary-color: #00C0E9;
    --secondary-color: #FF6F61;
    --main-text-color: #000;
    --alt-text-color: #353535;
    --alt-row-color: rgb(219, 219, 219);
    --border-radius: 0.6em;
  }