@import "vars.css";
/* * { border: 1px solid red !important; } */

@font-face { font-family: Snow Mountain; src: url('Snow Mountain.ttf'); } 

body {
    background-color: var(--background-color, #fff);
    color: var(--main-text-color);
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
    width: 100%;
}

header {
    padding: 0 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--alternate-background-color, rgb(240, 240, 240));
}

section {
    overflow: hidden;
}

header h1 {
    letter-spacing: 3px;
    font-size: 2em;
    width: 100%;
}

#hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    padding: 0;
}

@media (max-width: 855px) {
    #navMenu {
        display: none;
    }
    #hamburger {
        display: inline;
    }
    header h1 {
        font-size: 1.3em;
    }
    #bannerImg {
        height: 150px;
    }
    #bannerSection {
        flex-wrap: wrap;
    }
}

@media (max-width: 970px) {
    #bannerImg {
        height: 200px;
    }
}

nav {
    display: flex;
    align-items: center;
    width: 23em;
}

#navList {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1em;
    list-style-type: none;
    width: 100%;
    padding: 0;
}

#navList li a {
    text-decoration: none;
    color: var(--main-text-color, black);
    font-weight: bold;
}


footer {
    padding: 0.5em;
    background-color: var(--alternate-background-color, rgb(240, 240, 240));
    display: flex;
    justify-content: center;
}

footer > p {
    margin: 0;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

button {
    background-color: var(--primary-color, #00C0E9);
    color: white;
    border: none;
    padding: 0.5em;
    font-size: 1.2em;
    cursor: pointer;
    font-weight: bold;
}

hr {
    border: 2px solid var(--alternate-background-color, rgb(240, 240, 240));
    width: 200px;
    border-radius: 5px;
}

figcaption {
    color: var(--alt-text-color, #bfbfbf);
    max-width: 80%;
}

blockquote {
    width: 20em;
    margin: 1em;
}